.el-rate {
  display: inline-block;
}

.el-form_full {
  .el-form-item__content {
    & > div {
      width: 100%;
    }
  }
}

.el-form_detail-mode {
  .el-form-item {
    margin-bottom: 0;
  }
  .el-form-item__content-detail {
    .color-block {
      color: #fff;
      line-height: 24px;
      display: inline-block;
      padding: 2px 4px;
      border-radius: 2px;
    }
  }
}
